name: Vercel API Cron

on:
  schedule:
    - cron: "*/30 * * * *"
  workflow_dispatch:

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Call Vercel API
        run: |
          curl -X POST https://geminigen.vercel.app/api/cron
